{% extends "layout.html" %}

{% block content %}

<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">No#</th>
      <th scope="col">FASHION & CLOTHING</th>
      <th scope="col">ELECTRONICS</th>
      <th scope="col">SPORTS</th>
      <th scope="col">BOOKS</th>
      <th scope="col">GROCERY</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Men</td>
      <td>Women</td>
      <td>Kids</td>
      <td>Shoes</td>
      <td>Accessories</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mobile Phones</td>
      <td>Laptops/ PCs</td>
      <td>Home Entertainments</td>
      <td>Cameras</td>
      <td>Health Care Appliance</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cricket</td>
      <td>Badmintion</td>
      <td>Cycling</td>
      <td>Swimming</td>
      <td>Camping & Hiking</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Fiction/ Non-Fiction</td>
      <td>Literature</td>
      <td>Biography</td>
      <td>Children</td>
      <td>Academics</td>
    <tr>
      <th scope="row">5</th>
      <td>Snacks & Beverages</td>
      <td>Baby Care</td>
      <td>Diary & Eggs</td>
      <td>Staples</td>
      <td>Packed/ Frozen Foods</td>
    </tr>
    </tbody>
  </table>
<div class="col-md-12">
  <h3>
    Welcome to the world of EKART.
  </h3>
  <p>
    Today the world is changing its face and E-Commerce is taking a boom providing ease to its customers with variety of benefits. Similarly Ekart is an electronic
    commerce company which focuses on serving home delivery of various items ranging from clothings, electronics to groceries to its customers doorsteps.
  </p>
  <p>
    As we all know E-commerce is trending these day amongst people and is becomming a boom due to various reasons. It provides people with variety of options to
    choose from, easy payment options, easy return policies which provide a factor of satisfaction to customers, door-step delivery, customers
    can shop 24*7 and hence no time limits, no geographical areas constraints and so on.
  </p>
  <p>
    It has changed the way of shopping.
  </p>
<p>
    <a href ="https://www.flipkart.com/" > For more details and great shopping experience visit our website</a>
  </p>
</div>
  </div>

{% endblock %}
